{% load static %}
{% include 'registration/header.html' %}
{% block content %}

<style>

    .er{
      color : red;
        
    }
 </style>
<div id="main-wrapper">
    <section class="contactussec ptb72">
       <div class="container">

                <div class="row"> 
                    <div class="contactus-formbox">                   
                        <div class="mb60 section-title text-center">                          
                            <h2>Forgot Password</h2>                           
                        </div>
                        {% if messages %}
                 {% for message in messages %}
                       <div class="alert alert-warning">
                     <a class="close" style= color:#0d6efd; data-dismiss="alert" href="#">×</a> {{ message }}
                  </div>
                        {% endfor %}
                    {% endif %}                             
                    <form  id="form-validate" method="POST" class="contact-us-form login-form">
                    {% csrf_token %}
                      <div class="form-group">
                        <input type="text" class="form-control"  maxlength=20 name="email" placeholder="Enter email" id="email">
                        <p class="er"></p>
                      </div>
                      <p class="er"></p>
                      
                      <div class="form-group mb-8">
                       <button type="submit" class="btn btn-primary btn-block">Next</button>
                   
                      </div>
                      <p class="mt-4 text-center text-white">Already have an account? <a href="{% url 'accounts:login' %}">Log In </a> now.</p>
                </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="{% static 'assets/js/jquery-3.5.1.slim.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script type="text/javascript">
    $("#form-validate").validate({
        rules: {
            email: {
                required: true,
            },
        },
        messages: {
            email: {
                required: "Please enter email id",
            },
            
        }
    });
</script>


{% endblock %}
{% include 'registration/footer.html' %}
