{% include 'registration/header.html' %}
{% block content %}
{% load i18n static %}
<div id="main-wrapper">
    <section class="contactussec ptb72">
        <div class="container">
            <div class="row">
                <div class="contactus-formbox">
                    <div class="mb60 section-title text-center">
                        <h2>Change password</h2>
                        <p>Please enter your new password twice so we can verify you typed it in correctly.</p><br>
                    <accounts/div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        <a class="close" style=color:#0d6efd; data-dismiss="alert" href="#">×</a> {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form id="login" method="POST" class="contact-us-form login-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group email">
                                {{ form.new_password1.errors }}
                                    <input type="password" id="id_new_password1" name="new_password1" maxlength=20 class="form-control" id="email"
                                        placeholder="New password" required>
                                {{ form.new_password2.errors }}
                                    <input type="password" id="id_new_password2" name="new_password2" maxlength=20 class="form-control" id="email"
                                        placeholder="Confirm password" required>
 
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center pt-3">
                                <button type="submit" class="btn btn-secondary w-100">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% include 'registration/footer.html' %}
