{% include 'registration/header.html' %}
{% block content %}
{% load i18n static %}
<style>
.errorlist{
    color:red;
    margin-bottom:-20px;
}
</style>
<div id="main-wrapper">
    <section class="contactussec ptb72">
        <div class="container">
            <div class="row">
                <div class="contactus-formbox">
                    <div class="mb60 section-title text-center">
                        <h2>Forgot Password</h2>
                    <accounts/div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        <a class="close" style=color:#0d6efd; data-dismiss="alert" href="#">×</a> {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form id="login" method="POST" class="contact-us-form login-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group email">
                                    <input type="text" id="id_email" name="email" maxlength=20 class="form-control" id="email"
                                        placeholder="Enter Email" required>
                                        {% if form.email.errors %}
					                                <p class="error">{{ form.email.errors }}</p>
				                                {% else %}
					                                <p class="error"></p>
				                                {% endif %}
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center pt-3">
                                <button type="submit" class="btn btn-secondary w-100">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}


