{% include 'registration/header.html' %}
{% block content %}
{% load i18n static %}
<div id="main-wrapper">
    <section class="contactussec ptb72">
        <div class="container">
            <div class="row">
                <div class="contactus-formbox">
                    <div class="mb60 section-title text-center">
                        <h2>Welcome Back !</h2>
                    <accounts/div>
                    <p>Your password has been set.  You may go ahead and log in now.</p>
                    <div class="mt-2 text-center">
				              <a href="{%url 'accounts:login' %}">Back to Login</a>
			              </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% include 'registration/footer.html' %}

