{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}


        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
                </div>
                <div class="row">                  
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Edit FAQ</h4>
                            </div>
                            <div class="card-body">
                                <div class="profile-tab">
                                   <div class="settings-form">                                      
                                        <form id="edit-profile" action="{% url 'faq:Edit_FAQ'  %}?id={{faq.id}}"  method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                            <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label>Title</label>
                                                        <input type="text" value="{{faq.question}}" id="question" name="question" required class="form-control form-control-lg">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Answer</label>
                                                        <textarea id="content"  name="answer" required class="form-control form-control-lg">{{faq.answer}}</textarea>
                                                    </div> 
                                                </div>                               
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% include "admin-includes/footer.html" %}
<script src="{% static 'assets/js/jquery-3.5.1.slim.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
 <script type="text/javascript">
    $("#Add-User-form").validate({
        rules: {
   
               question: {
                
                minlength:5,
                maxlength:100,
                required: true,
            },
             
            Answer: {
                required: true,
        },
        },
        messages: {
            
            question: {
                minlength:"Please enter at least 5 alphabets in  question",
                maxlength:"Please enter no more than 100 characters in question",
                required: "Please enter  question",
            },
            Answer: {
                required: "Please enter Answer",
                },
            
            
        }
    });
</script>
