
{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}
<div class="content-body">
   <div class="container-fluid">
         <div class="page-titles">
      
         </div>
         <div class="row">             
            <div class="col-xl-12">
            {% if messages %}
                {% for message in messages %}
                       <div class="alert alert-success">
                     <a class="close" style= color:#0d6efd; data-dismiss="alert" href="#">×</a> {{ message }}
                  </div>
                        {% endfor %}
                    {% endif %}
               
               <div class="card">
                     <div class="card-body">
                     <div class="float-right">
                     <div class="addlocation">
                        <a class="mr-2" href="{% url 'faq:Edit_FAQ' %}?id={{faq.id}}">Edit FAQ</a>
                        </div>
                     </div>
                        <div class="profile-tab d-flex position-relative">
                          
                           
                           <div class="profile-personal-info w-100">

                                 <h4 class="text-primary mb-4">FAQ Detail</h4>
                                 <div class="row mb-2">
                                    <div class="col-3">
                                       <h5 class="f-w-500">ID<span class="pull-right">:</span>
                                       </h5>
                                    </div>
                                    <div class="col-9"><span>{{faq.id}}</span>
                                    </div>
                                 </div>
                                 <div class="row mb-2">
                                    <div class="col-3">
                                       <h5 class="f-w-500">Created On <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-9"><span>{{faq.created_on}}</span>
                                  </div>
                                  </div>
                                 <div class="row mb-2">
                                    <div class="col-3">
                                       <h5 class="f-w-500">Question<span class="pull-right">:</span>
                                       </h5>
                                    </div>
                                    <div class="col-9"><span>{{faq.question}}</span>
                                    </div>
                                 </div>
                                 <div class="row mb-2">
                                    <div class="col-3">
                                       <h5 class="f-w-500 ">Answer <span class="pull-right">:</span>
                                       </h5>
                                    </div>
                                    <div class="text-primary col-9"><span>{{faq.answer|safe}}</span>
                                    </div>
                                 </div>
                                 
                           </div>
                        </div>
                  </div>
               </div>
            </div>
         </div>
</div>


{% endblock %}

{% include "admin-includes/footer.html" %}